button {
  background: linear-gradient(86deg, #00a8a5 23%, #4dd8a6 75%, #74f0a7 110%);
  border: 0;
  border-radius: 35px;
  font-size: 16px;
  min-width: 260px;
}
button:hover {
  box-shadow: 0 10px 12px #00000040;
}

.btn-custom {
  color: black;
  background-color: white;
}

.btn-custom.active {
  border-color: black;
}
