<nav class="navbar navbar-expand-lg navbar bg-white">
  <div class="container">
    <a class="navbar-brand" href="https://www.effy.fr/">
      <img src="./assets/effy.jpg" alt="">
    </a>
    <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse"
      id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/personal">Personal</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/project">Project</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/summary">Summary</a>
        </li>


      </ul>
    </div>
  </div>
</nav>