.summary-cost p {
  font-weight: bold;
}

.summary-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.summary-message,
.summary-cost {
  margin-top: 20px;
}

.message {
  font-size: 40px;
  font-family: Dancing Script, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  color: #00a8a5;
}
