<div class="container">
  <div class="row col-md-4">
    <div class="iconleft">
      <a [routerLink]="['/']" class="btn">
        <i class="bi bi-arrow-left"></i>
        RETOUR
      </a>
    </div>
  </div>
  <div class="form-container">
    <shared-title [title]="'Renseigner les informations du projet*'"></shared-title>
    <form [formGroup]="projectInfoForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group form-check">
        <input type="checkbox" id="isOwner" formControlName="isOwner" class="form-check-input" />
        <label class="form-check-label" for="isOwner">Etes vous Propriétaire ?</label>
      </div>
      <div class="form-group">
        <shared-input [label]="'Nombre de personnes dans le foyer'" [placeholder]="''" formControlName="householdSize"
          [maxlength]="''" [type]="'number'"></shared-input>
      </div>
      <div class="form-group">
        <shared-input [label]="'Revenus du foyer (entre 10k et 100k)'" [placeholder]="''"
          formControlName="householdIncome" [maxlength]="''" [type]="'number'"></shared-input>
      </div>
      <div class="form-group">
        <shared-input [label]="'Surface du bien (m2)'" [placeholder]="''" formControlName="propertyArea"
          [maxlength]="''" [type]="'number'"></shared-input>
      </div>
      <shared-button [label]="'TERMINER'" [type]="'submit'" [disabled]="projectInfoForm.invalid"
        (onSubmitForm)="onSubmit()"></shared-button>
    </form>
  </div>
</div>