<div class="form-container">
  <shared-title [title]="'obtenez votre estimation des aides *'"></shared-title>
  <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="row">
      <div class="form-group">
        <div aria-label="Civilité">
          <label class="btn btn-custom mr-8" style="margin-right: 18px!important;"
            [ngClass]="{ 'active': personalInfoForm.get('civility')?.value === 'Monsieur' }">
            <input type="radio" formControlName="civility" value="Monsieur"> Monsieur
          </label>
          <label class="btn btn-custom" [ngClass]="{ 'active': personalInfoForm.get('civility')?.value === 'Madame' }">
            <input type="radio" formControlName="civility" value="Madame"> Madame
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 ">
        <shared-input [label]="'Nom'" [placeholder]="''" formControlName="lastName" [maxlength]="'42'"
          [type]="'text'"></shared-input>
      </div>
      <div class="form-group col-md-6">
        <shared-input [label]="'Prénom'" [placeholder]="''" formControlName="firstName" [maxlength]="'42'"
          [type]="'text'"></shared-input>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 ">
        <shared-input [label]="'Email'" [placeholder]="''" formControlName="email" [maxlength]="'42'"
          [type]="'email'"></shared-input>
      </div>
      <div class="form-group col-md-6">
        <shared-input [label]="'Téléphone'" [placeholder]="''" formControlName="phone" [maxlength]="'42'"
          [type]="'tel'"></shared-input>
      </div>
    </div>
    <shared-button [label]="'Continuer'" [type]="'submit'" [disabled]="personalInfoForm.invalid"
      (onSubmitForm)="onSubmit()"></shared-button>
  </form>
</div>