h1 {
  font-style: italic !important;
  font-size: 20px !important;
  line-height: 20px !important;
  font-family: gilroybold, sans-serif !important;
}

input[type="radio"]:checked:after {
  background-color: red !important;
}
